

html, 
body {
  font-family: Arial, sans-serif;
  background: #ccd0d4;
  align-items: center;
}
/*for the buttons of the list  */
ul{
  list-style-type: none;
  margin-left: 10%;
  margin-top: 10%;
  align-items: center;
  max-width: 100 px ;
  display: flex;
}
.list-class {
  outline: none;
  align-items: center;
  list-style-type: none;
  /*background:#ccd0d4; /* off white */
  border: none;
  box-shadow: 
           -3px -3px 7px #ffffffb2,
            3px 3px 5px rgba(94, 104, 121, 0.945);
  /*padding: 50px 50px 100px 50px;*/
  text-align: center;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 5px rgb(198, 230, 235);
  display: inline-block;
  -webkit-text-stroke: 0.4px black;
  font-size: 16px;
  margin: 8px 4px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  /*background-color:#ccd0d4;*/
  border-radius: 32px;
  align-items: center;
  height: 200px;
  position: relative;
  width: 150px;
}
 /*modal styling and (visible , hidden)*/
#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* to show it above other content */
  z-index: 999; 
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}
.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 1);
  padding: 15px;
  width: 100%;
  max-width: 600px;
  text-align: left;
  border-radius: 20px;
}
.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}
.modal h1 {
  margin: 10 px, 10 px, 10 px, 10 px ;
  text-align: center;
}
.modal p {
  margin: 10 px, 10 px, 10 px, 10 px ;
  text-align: center;

}
#modal-container {
  display: none;
}
#modal-container.is-visible {
  /* CSS for modal container - add your own desired CSS styles here */
  display: block;
}
/* styling the poster image */
.modal-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 50%;
  height: auto;
  border-radius: 20px;
  box-shadow: 
           -3px -3px 7px #ffffffb2, 
           3px 3px 5px rgba(94, 104, 121, 0.945);
}
.list-class:active{
  box-shadow: inset  -4px -4px 10px rgba(255, 255, 255, 0.45), 
  inset  4px 4px 7px rgba(94, 104, 121, 0.28);
  margin: 30px;
  display: inline-block;
  border: none;
}
.movie-list {
  align-items: center;
}
.modal-footer {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: rgba(99, 90, 73, 0.151);
  padding: 15px;
  width: 100%;
  max-width: 600px;
  min-height: 20 px;
  text-align: left;
  border-radius: 20px;
  z-index: 999; 
}